.Navbar {
      display: flex;
}

img {
      /* background-color: green; */
      height: 50px;
      width: 50px;
      margin: 25px 20px; 
}

.heading {
      margin: 30px 0;
      font-family: 'Nunito', sans-serif;
      font-size: 1.8rem;
      font-weight: 800;
      color: #0673C2;
}


.NavbarList {
      list-style: none;
      text-decoration: none;
      display: flex;
      position: absolute;
      right: 5%;
      margin: 30px 0;
}

.row {
      font-family: 'Nunito', sans-serif;
      font-size: 1.2rem;
      margin: 0 15px;
      padding: 5px 20px;
      border-radius: 100px;
      border: 2px solid #0673C2;
      transition: ease-out 0.5s;
      box-shadow: inset 0 0 0 0 #0673C2;
}

.NavbarList .row:hover {
      cursor: pointer;
      color: white;
      transition: ease-out 0.5s;
      box-shadow: inset 400px 0 0 0 #0673C2;
}

.NavbarList #active {
      background-color: #0673C2;
      color: white;
}



.fa-bars {
      color: #0a5b96;
      font-size: 1.5rem;
      display: none;
}

.fa-times {
      color: #0a5b96;
      font-size: 1.5rem;
      display: none;
}

@media (max-width: 1200px){
      img {
            height: 35px;
            width: 35px;
      }

      .heading {
            margin: 25px 0;
            font-size: 1.5rem;

      }
      .NavbarList {
            right: 15px;
            margin: 20px 0;
      }

      .row {
            font-size: 1rem;
            margin: 0 12px;
            padding: 5px 15px;
      }
}

@media (max-width: 960px) {
      .fa-bars {
            display: flex;
            position: absolute;
            right: 50px;
            top: 25px;
            cursor: pointer;
      }

      .fa-times {
            display: flex;
            position: absolute;
            right: 50px;
            top: 25px;
            cursor: pointer;
      }

      .NavbarList {
            display: block;
            flex-direction: column;
            margin: 75px 0;
            width: 100%;
            height: 100%;
            padding-top: 50px;
            left: -150%;
            opacity: 1;
            transition: all 0.5s ease;
      }

      .NavbarList.response{
            background: #0673C2;
            left: 0px;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
            border-radius: 20px;
      }

      .row {
            text-align: center;
            border: 2px solid #fff;
            background: white;
            padding: 15px 0;
            margin: 0 20%;
      }
}


@media (max-width: 560px) {
      .heading {
            margin: 30px 0;
            font-size: 1.2rem;

      }
      .fa-bars {
            right: 40px;
            top: 27px;
      }

      .fa-times {
            right: 40px;
            top: 27px;
      }
}
