h4 {
      font-size: 1.5rem;
}

.cpu_class {
      display: flex;
      margin: 0 30px;
}

.bar {
      height: 8px;
      margin-top: 4px;
      background: rgba(0,0,0,.4);
      /* overflow-x: hidden; */
    }

.bar-section {
      height: 100%;
      float: left;
      transition: transform .5s ease-in-out;
}

.used {
      width: 100%;
      background: rgba(143, 230, 143, .8);
      box-shadow: inset 0 -1px 1px rgba(255, 255, 255, .5);
}

.storage_spacer {
      margin: 8px 0px;
}

.dark {
      font-weight: 600;
      font-family: 'Poppins', sans-serif;;
}